<div class="classMargemLateral border">
  <nav class="navbar navbar-expand-lg ">



    <a href="./home.php">
      <img src="/assets/icons/lrp32.png" alt="LogoRp" class="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="MenuIcon()" data-target="#navbarSite">
      <img src="{{ url_icon }}" alt="LogoRp" class="iconmenu">
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <!-- <label class="itemmenu1 align-self-center">{{ user_name }}</label> -->
      <ul class="navbar-nav ml-auto">


        <li class="nav-item dropdown separador" (click)="clickDropdpown(1)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" id="navDrop">
            <img src="/assets/icons/maozinha.png" alt="icon" class="icon">Cadastro</a>

          <div class="dropdown-menu" [class.show]="idNav === 1">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newempresa">
              <img src="/assets/icons/empw.png" alt="icon" class="icon">Empresa</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newrelogio">
              <img src="/assets/icons/repw.png" alt="icon" class="icon">Relógios</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newclientes">
              <img src="/assets/icons/cliw2.png" alt="icon" class="icon">Clientes</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newusuarios">
              <img src="/assets/icons/filaw.png" alt="icon" class="icon">Usuários</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newequipamento">
              <img src="/assets/icons/maozinha.png" alt="icon" class="icon">Equipamento</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newmodulo">
              <img src="/assets/icons/repw.png" alt="icon" class="icon">Módulos</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#/pages/register/newchip">
              <img src="/assets/icons/repw.png" alt="icon" class="icon">Chips</a>
          </div>
        </li>


        <li class="nav-item dropdown separador" (click)="clickDropdpown(2)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" id="navDrop">
            <img src="/assets/icons/monithopbranco.png" alt="icon" class="icon">Monitoramento</a>

          <div class="dropdown-menu" [class.show]="idNav === 2">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">
              <img src="/assets/icons/resumobraco.png" alt="icon" class="icon">Resumo</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">
              <img src="/assets/icons/empw.png" alt="icon" class="icon">Empresas</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">
              <img src="/assets/icons/torrew.png" alt="icon" class="icon">Operadoras</a>
          </div>
        </li>


        <!-- <li class="nav-item dropdown separador" (click)="clickDropdpown(3)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#" id="navDrop"><img src="/assets/icons/filaw.png" alt="icon" class="icon">Usuários</a>
          <div class="dropdown-menu" [class.show]="idNav === 3">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">Gerenciar</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Log de Acessos</a>
          </div>torrew
        </li> -->
        <li class="nav-item dropdown separador" (click)="clickDropdpown(4)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" id="navDrop">
            <img src="/assets/icons/config.png" alt="icon" class="icon">Manutenção</a>

          <div class="dropdown-menu" [class.show]="idNav === 4">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">
              <img src="/assets/icons/empw.png" alt="icon" class="icon">Empresas</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">
              <img src="/assets/icons/repw.png" alt="icon" class="icon">Relógios</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">
              <img src="/assets/icons/filaw.png" alt="icon" class="icon">Usuários</a>
          </div>
        </li>
        <li class="nav-item separador">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#">
            <img src="/assets/icons/sair.png" alt="icon" class="icon">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
