<div class="divis border">
  <nav class="navbar navbar-expand-lg">



    <a href="./home.php">
      <img src="/assets/icons/lrp32.png" alt="LogoRp" class="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
      <img src="/assets/icons/menublue.png" alt="LogoRp" class="iconmenu">
    </button>

    <div class="collapse navbar-collapse " id="navbarSite">
      <label class="itemmenu1 align-self-center"> Bem Vindo {{ user_name }}!</label>
      <ul class="navbar-nav ml-auto">


        <li class="nav-item dropdown" (click)="clickDropdpown(1)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#" id="navDrop">Cadastro</a>
          <div class="dropdown-menu" [class.show]="idNav === 1">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">Empresa</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Relógios</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Clientes</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Usuários</a>
          </div>
        </li>


        <li class="nav-item dropdown" (click)="clickDropdpown(2)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#" id="navDrop">Monitoramento</a>
          <div class="dropdown-menu" [class.show]="idNav === 2">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">Resumo</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Empresas</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Operadoras</a>
          </div>
        </li>


        <li class="nav-item dropdown" (click)="clickDropdpown(3)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#" id="navDrop">Usuários</a>
          <div class="dropdown-menu" [class.show]="idNav === 3">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">Gerenciar</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Log de Acessos</a>
          </div>
        </li>
        <li class="nav-item dropdown" (click)="clickDropdpown(4)" (mouseleave)="mouseLeave()">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#" id="navDrop">Manutenção</a>
          <div class="dropdown-menu" [class.show]="idNav === 4">
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="#">Empresas</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Relógios</a>
            <a class="dropdown-item itemmenu itemmenu2 align-self-center" href="teste">Usuários</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link itemmenu itemmenu1 align-self-center" href="#">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
