@import url(./../../../generic/css-generico/botaoSubmit.css);

/* Label Title */
.classLabelTitle{

  /* Alterações de Corpo */
  border: none;
  padding-top: 3px;
  width: 100%;

  /* ALterações de Texto */
  text-align: center;
  color: #21237b;
 
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
  
  /* Deixar Objeto Não Selecionavel */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Linha Divisora */
.classLinhaDivisora{
  /* Alterações de Corpo */
  margin: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  /* Caracteristicas da Linha */
  border-top: 1px solid #21237b;
}

/* Margem Lateral */
.classMargemLateral {
  /* Alterações de Corpo */
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 30px;
}

/* Margem Final da Página */
.classMargimFimPagina{
margin: 100px;
}


