@import url(./../../../generic/css-generico/botaoSubmit.css);
@import url(./../../../generic/css-generico/tilulodapagina.css);
@import url(./../../../generic/css-generico/corpodepagina.css);
@import url(./../../../generic/css-generico/cardform.css);
@import url(./../../../generic/css-generico/formimput.css);

.icon {
    margin-left: 5px;
    margin-right: 15px;
    width: 20px;
  }

.classButtonAdcionar{
    margin: auto !important;
    /* Alterações de Corpo */
    width: 200px;
    background-color: #25C500; 
    border: 4px solid #25C500;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    box-shadow: 2px 5px #0B3D00; 
    /* margin-right: 130px; */
    margin-top: 20px;
    margin-bottom: 20px;
    
    /* ALterações de Texto */
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;

    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    outline: none;
}

/* Removendo quadrado de foco */
.classButtonAdcionar:focus{
    outline-style:none;
    box-shadow: 2px 5px #167500; 
    border-color:transparent;
}
/* Evento Click */
.classButtonAdcionar:active{
    outline-style:none;
    box-shadow: 1px 2px #072400 !important; 
    border-color:transparent;
    border-bottom: 2px solid #167500 !important;
    border-right: 2px solid #167500 !important;
    margin-top: 12px !important;
    margin-bottom: 5px;
}
/* Evento de hover */
.classButtonAdcionar:hover {
    background-color: #167500;
    border: 4px solid #167500;
}
 /* Criando Barra Sublinhada */
.classButtonAdcionar::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    position: relative;
    top: 30px;
    transition: all ease-in-out 250ms;
}
/* Tamanho máximo da Barra */
.classButtonAdcionar:hover::before {
    width: 100%;
}

.classButtonRemover{
    /* Alterações de Corpo */
    /* width: 200px; */
    background-color: #880006; 
    border: 4px solid #880006;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    box-shadow: 2px 5px #3B0003; 
    /* margin-right: 130px; */
    margin-top: 20px;
    margin-bottom: 20px;
    
    /* ALterações de Texto */
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;

    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    outline: none;
}

/* Removendo quadrado de foco */
.classButtonRemover:focus{
    outline-style:none;
    box-shadow: 2px 5px #210003; 
    border-color:transparent;
}
/* Evento Click */
.classButtonRemover:active{
    outline-style:none;
    box-shadow: 1px 2px #210003 !important; 
    border-color:transparent;
    border-bottom: 2px solid #3B0003 !important;
    border-right: 2px solid #3B0003 !important;
    margin-top: 12px !important;
    margin-bottom: 5px;
}
/* Evento de hover */
.classButtonRemover:hover {
    background-color: #3B0003;
    border: 4px solid #3B0003;
}
 /* Criando Barra Sublinhada */
.classButtonRemover::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    position: relative;
    top: 30px;
    transition: all ease-in-out 250ms;
}
/* Tamanho máximo da Barra */
.classButtonRemover:hover::before {
    width: 100%;
}
