<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral">

  <!-- Titulo -->
  <label class="classLabelTitle">Cadastro De Relógio Do Cliente No Ping</label>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    
  <div class="card classCardForm">

  <!-- Chama Componete referente ao cadastro do relogio -->  
  <app-rep-form [repForm]="formulario"[ocorreuSubmit]="ocorreuSbmit"></app-rep-form>
</div>

  <div class="card classCardForm">

    <!-- Chama Componete referente ao cadastro do relogio -->  
    <app-module-form [moduleForm]="formulario"[ocorreuSubmit]="ocorreuSbmit" [formPassive]="true"></app-module-form>
  </div>

  <div class="card classCardForm">
  
  <!-- Chama Componete referente ao cadastro do relogio -->
  <app-address-form [addressForm]="formulario" [ocorreuSubmit]="ocorreuSbmit"></app-address-form>
  
  </div>
  <div class="card classCardForm">
      <div formArrayName="tels"
      *ngFor="let tel of formarray(); let i = index;">
      <div [formGroupName]="i">
          <div class="form-row">
              <div class="form-group col-lg-5">
          
                <label class="classLabelForm animated bounceIn" for="tel_number">Telefone:</label>
                <div class="input-group">
                  <input 
                    type="text" 
                    autocomplete="no" 
                    class="form-control classImputForm animated bounceIn" 
                    [class.classBorderInvalid]="!showErrorsFormArray( 'tel_number' , i )"
                    id="tel_number" 
                    placeholder="Fixo ou Celular" 
                    formControlName="tel_number"
                    maxlength="15"
                    (blur)="arrumaTel(tel.get('tel_number').value, i )"
                  >
          
                  <!-- Icone de X has error -->
                  <span 
                    class='input-group-addon' 
                    [class.d-none]="showErrorsFormArray( 'tel_number' , i )" 
                  >
                    <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
                  </span>
                </div>
          
                <!-- Mensagem de erro -->
                <small 
                  id="nameHelpBlock" 
                  class="form-text classTextodeErro" 
                  [class.d-none]="showErrorsFormArray( 'tel_number' , i )"
                >
                  Campo obrigatório, coloque o DDD
                </small>
              </div>
          
              <div class="form-group col-lg-6">
          
                <label class="classLabelForm animated bounceIn" for="tel_resp">Responsável:</label>
                <div class="input-group">
          
                  <input 
                    type="text" 
                    autocomplete="no" 
                    class="form-control classImputForm animated bounceIn" 
                    [class.classBorderInvalid]="!showErrorsFormArray( 'tel_resp' , i )" 
                    id="tel_resp" 
                    placeholder="Nome Sobrenome" 
                    formControlName="tel_resp"
                    maxlength="45"
                  >
          
                  <!-- Icone de X has error -->
                  <span 
                    class='input-group-addon' 
                    [class.d-none]="showErrorsFormArray( 'tel_resp' , i )"
                  >
                    <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
                  </span>
                </div>  
                <!-- Mensagem de erro -->
                <small 
                  id="nameHelpBlock" 
                  class="form-text classTextodeErro" 
                  [class.d-none]="showErrorsFormArray( 'tel_resp' , i)"
                >
                  Campo obrigatório. 
                </small>    
              </div> 
              <button *ngIf="i>0"
                type="button" 
                class="classButtonRemover"
                (mouseenter)="lixo(i)"
                (mouseleave)="lixo(0)"lixoBrancoaberto
                (click)="removeTel(i)" 
              >
              <img src="/assets/icons/lixoBrancoaberto.png" *ngIf="ctl_lixo === i"  class="classButtonRemoveIcon">
              <img src="/assets/icons/lixoBranco1.png" *ngIf="ctl_lixo !== i"  class="classButtonRemoveIcon">
              </button>
            </div> 
        
        
        
        
        
        
        <!-- <input formControlName="tel_number" placeholder="Item name">
        <input formControlName="tel_resp" placeholder="Item description">
        
        <button class="btn btn-danger" (click)="removeItem(tel)">remover</button> -->
  
      </div>
    </div>
  




    <button 
        type="button" 
        class="classButtonAdcionar"
        (click)="addTel()"
      >
      <img src="/assets/icons/addtelbranco.png" alt="icon" class="icon">
        Adcionar Telefone
      </button>
  </div>
  <!-- Botão submit -->
  <div class="float-right">
      <button 
        type="submit" 
        class="btn-primary classSubmitButton"
        [class.classFormInvalido]="formulario.invalid" 
        [class.classFormValido]="formulario.valid"
      >
        Salvar Alterações
      </button>
    </div>
  </form>
  <br />
  <!-- Margem no final da Página -->
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>


