<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral">

  <!-- Titulo -->
  <label class="classLabelTitle">Cadastro De Relógio Do Cliente No Ping</label>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    
  <div class="card classCardForm">

  <!-- Chama Componete referente ao cadastro do relogio -->  
  <app-rep-form [repForm]="formulario"[ocorreuSubmit]="ocorreuSbmit"></app-rep-form>
</div>
  <div class="card classCardForm">
  
  <!-- Chama Componete referente ao cadastro do relogio -->
  <app-address-form [addressForm]="formulario" [ocorreuSubmit]="ocorreuSbmit"></app-address-form>
  
  </div>
  <div class="card classCardForm">
    <app-tel-form [telForm]="formulario" [ocorreuSubmit]="ocorreuSbmit"></app-tel-form>
  </div>
  <!-- Botão submit -->
  <div class="float-right">
      <button 
        type="submit" 
        class="btn-primary classSubmitButton"
        [class.classFormInvalido]="formulario.invalid" 
        [class.classFormValido]="formulario.valid"
      >
        Salvar Alterações
      </button>
    </div>
  </form>
  <br />
  <!-- Margem no final da Página -->
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>
