@import url(./../../../../generic/css-generico/formimput.css);

.borderchek{
    border-width: 2px;
    border-color: #21237b;
    border-style: solid;
    border-radius: 10px;
     
}
.alinhamentoLeitor{
    margin-left: calc(50% - 35px);
    margin-right: 50%;
}
.alinhamentoColuna{
    margin-left: calc(50% - 90px);
    /* margin-right: 50%; */
}

.check{
    width: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin-left: calc(25% - 50px); */
}
.icon {
    width: 15px;
    margin-bottom: 5px;
    margin-right: 3px;
  }
