.classMargemLateral {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
  }
.classBorderInvalid {
    border: 2px solid red !important;
    background-color: rgb(255, 200, 200, 0.2);
    border-radius: 12px;

    
}
.classImputForm {
    border-color:#21237b;
    border-radius: 10px !important;
   
}
.classImputForm:focus {
    background-color: rgba(117, 165, 255, 0.226);
    border: 2px solid #21237b !important;
}
.erroicon {
    width: 20px;
    padding-top: 4px; 
    align-self: center;
    margin-left: -30px; 
    position: relative;
    border-radius: 10px;

}
.texterror{
    color: red;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.LabelForm{
    color: #21237b;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    
}
.borderchek{
    border-width: 2px;
    border-color: #21237b;
    border-style: solid;
    border-radius: 10px;
     
}
.separador{
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #21237b;
}

.btn{
    background-color: #21237b; 
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 15px;
}

.btn:hover {
    background-color: #10113B;
    color: #ffffff;
  }
  
.btn::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #ffffff;
    position: relative;
    top: 30px;
    transition: all ease-in-out 250ms;
  }
  
.btn:hover::before {
    width: 100%;
  }

.alinhamentoLeitor{
    margin-left: calc(50% - 35px);
    margin-right: 50%;
}
.alinhamentoColuna{
    margin-left: calc(50% - 90px);
    /* margin-right: 50%; */
}

.check{
    width: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin-left: calc(25% - 50px); */
}
.icon {
    width: 15px;
    margin-bottom: 5px;
    margin-right: 3px;
  }
