.divis {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
  }
.ng-invalid.ng-touched.formm {
    border: 1px solid red;
    border-radius: 10px;
    
}
.formm {
    border-color:#21237b;
    border-radius: 10px;
   
}
.erroicon {
    width: 20px;
    padding-top: 4px; 
    align-self: center;
    margin-left: -30px; 
    position: relative;
    border-radius: 10px;

}
.texterror{
    color: red;
}

.LabelForm{
    color: #21237b;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    
}
.separador{
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #21237b;
   
}