.divis {
    margin-left: 60px;
    margin-right: 60px;
  }
.ng-invalid.ng-touched.formm {
    border: 1px solid red;
}
.erroicon {
    width: 20px;
    padding-top: 4px; 
    align-self: center;
    margin-left: -30px; 
    position: relative;

  }