<div class = "divis">

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  
    <div class="form-row">
        
      <div class="form-group col-md-4">
        <label class="LabelForm" for="inputName">Empresa:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputName" placeholder="Nome" formControlName="inputNome"  maxlength="12">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputNome'].valid || !formulario.controls['inputNome'].touched ">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <small id="nameHelpBlock" class="form-text" 
          [class.texterror]="!formulario.controls['inputNome'].valid && formulario.controls['inputNome'].touched"
          [class.text-muted]="formulario.controls['inputNome'].valid || !formulario.controls['inputNome'].touched ">
            Máximo 12 caracteres, iniciar com letra maiúscula.
        </small>
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputNome'].valid || !formulario.controls['inputNome'].touched ">
          Campo obrigatório.
        </small>
      </div>


      <div class="form-group col-md-3">
        <label class="LabelForm" for="inputCNPJ">CNPJ:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputCNPJ" placeholder="CNPJ ou CPF" formControlName="inputCNPJ"maxlength="18">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputCNPJ'].valid || !formulario.controls['inputCNPJ'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>  
        <small id="nameHelpBlock" class="form-text" 
            [class.texterror]="!formulario.controls['inputCNPJ'].valid && formulario.controls['inputCNPJ'].touched"
            [class.text-muted]="formulario.controls['inputCNPJ'].valid || !formulario.controls['inputCNPJ'].touched" >
          Digite um CPF ou CNPJ válido com ou sem pontos e traços.
        </small>    
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputCNPJ'].valid || !formulario.controls['inputCNPJ'].touched ">
          Campo obrigatório.
        </small>    
      </div> 
      <div class="form-group col-md-5">
          <label class="LabelForm" for="inputEMAIL">Email:</label>
          <div class="input-group">
            <input type="text" class="form-control formm" id="inputEMAIL" placeholder="user@email.com" formControlName="inputEMAIL">
            <span class='input-group-addon' [class.d-none]="formulario.controls['inputEMAIL'].valid || !formulario.controls['inputEMAIL'].touched">
              <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
            </span>
          </div>    
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputEMAIL'].valid || !formulario.controls['inputEMAIL'].touched ">
          Campo Obrigatório.
        </small>
      </div> 
      
        
    </div>

    <div class="form-row">

      <div class="form-group col-md-7">
        <label class="LabelForm" for="inputResp">Responsável:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputResp" placeholder="Nome Sobrenome" formControlName="inputResp">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputResp'].valid || !formulario.controls['inputResp'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>  
        <small id="nameHelpBlock" class="form-text" 
            [class.texterror]="!formulario.controls['inputResp'].valid && formulario.controls['inputResp'].touched"
            [class.text-muted]="formulario.controls['inputResp'].valid || !formulario.controls['inputResp'].touched" >
          Digite o nome do responsável. 
        </small>    
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputResp'].valid || !formulario.controls['inputResp'].touched ">
          Campo obrigatório, somente letras, máximo 45 caracteres. 
        </small>    
      </div> 
     
      <div class="form-group col-md-2">
        <label class="LabelForm" for="inputTel">Telefone:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputTel" placeholder="Fixo ou Celular" formControlName="inputTel">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputTel'].valid || !formulario.controls['inputTel'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>    
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputTel'].valid || !formulario.controls['inputTel'].touched ">
          Campo obrigatório.
        </small>
      </div>
      
      <div class="form-group col-md-1">
        <label class="LabelForm" for="inputTela">Tela:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputTela" placeholder="Nome Sobrenome" formControlName="inputTela" maxlength="1">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputTela'].valid || !formulario.controls['inputTela'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>  
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputTela'].valid || !formulario.controls['inputTela'].touched ">
          Campo obrigatório, 1 ou 2. 
        </small>    
      </div> 
          

      <div class="form-group col-md-1">
        <label class="LabelForm" for="inputLinha">Linha:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputLinha" placeholder="Nome Sobrenome" formControlName="inputLinha" maxlength="2">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputLinha'].valid || !formulario.controls['inputLinha'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>   
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputLinha'].valid || !formulario.controls['inputLinha'].touched ">
          Campo obrigatório, 0-10. 
        </small>    
      </div> 



      <div class="form-group col-md-1">
        <label class="LabelForm" for="inputColuna">Coluna:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputColuna" placeholder="Nome Sobrenome" formControlName="inputColuna" maxlength="2">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputColuna'].valid || !formulario.controls['inputColuna'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>  

        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputColuna'].valid || !formulario.controls['inputColuna'].touched ">
          Campo obrigatório. 
        </small>    
      </div> 


 
  </div> 
  
  
  <div class="form-row separador"></div>
  

  <div class="form-row">
        
      <div class="form-group col-md-2">
        <label class="LabelForm" for="inputCep">Cep:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputCep" placeholder="Cep" formControlName="inputCep"  maxlength="9" (blur)="consultaCep()">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputCep'].valid || !formulario.controls['inputCep'].touched ">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputCep'].valid || !formulario.controls['inputCep'].touched ">
          Campo obrigatório, somente números.
        </small>
      </div>


      <div class="form-group col-md-5">
        <label class="LabelForm" for="inputRua">Rua:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputRua" placeholder="logradouro" formControlName="inputRua"maxlength="60">
          <span class='input-group-addon' [class.d-none]="formulario.controls['inputRua'].valid || !formulario.controls['inputRua'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>   
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputRua'].valid || !formulario.controls['inputRua'].touched ">
          Campo obrigatório.
        </small>    
      </div> 

      <div class="form-group col-md-2">
          <label class="LabelForm" for="inputNum">Número:</label>
          <div class="input-group">
            <input type="text" class="form-control formm" id="inputNum" placeholder="Número" formControlName="inputNum"maxlength="6">
            <span class='input-group-addon' [class.d-none]="formulario.controls['inputNum'].valid || !formulario.controls['inputNum'].touched">
              <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
            </span>
          </div>      
          <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputNum'].valid || !formulario.controls['inputNum'].touched ">
            Campo obrigatório.
          </small>    
        </div> 
        
        <div class="form-group col-md-3">
            <label class="LabelForm" for="inputComp">Complemento:</label>
            <div class="input-group">
              <input type="text" class="form-control formm" id="inputComp" placeholder="Complemento" formControlName="inputComp"maxlength="45">
              <span class='input-group-addon' [class.d-none]="formulario.controls['inputComp'].valid || !formulario.controls['inputComp'].touched">
                <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
              </span>
            </div>     
            <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputComp'].valid || !formulario.controls['inputComp'].touched ">
              Campo obrigatório.
            </small>    
          </div> 
    </div>

    
    <div class="form-row">
        
        <div class="form-group col-md-1">
          <label class="LabelForm" for="inputUF">Uf:</label>
          <div class="input-group">
            <input type="text" class="form-control formm" id="inputUF" placeholder="UF" formControlName="inputUF"  maxlength="2">
            <span class='input-group-addon' [class.d-none]="formulario.controls['inputUF'].valid || !formulario.controls['inputUF'].touched ">
              <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
            </span>
          </div>
          <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputUF'].valid || !formulario.controls['inputUF'].touched ">
            Campo obrigatório, somente sigla.
          </small>
        </div>
  
  
        <div class="form-group col-md-3">
          <label class="LabelForm" for="inputCity">Cidade:</label>
          <div class="input-group">
            <input type="text" class="form-control formm" id="inputCity" placeholder="Cidade" formControlName="inputCity"maxlength="45">
            <span class='input-group-addon' [class.d-none]="formulario.controls['inputCity'].valid || !formulario.controls['inputCity'].touched">
              <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
            </span>
          </div>   
          <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputCity'].valid || !formulario.controls['inputCity'].touched ">
            Campo obrigatório, somente letras.
          </small>    
        </div> 
  
        <div class="form-group col-md-3">
            <label class="LabelForm" for="inputBairro">Bairro:</label>
            <div class="input-group">
              <input type="text" class="form-control formm" id="inputBairro" placeholder="Bairro" formControlName="inputBairro"maxlength="45">
              <span class='input-group-addon' [class.d-none]="formulario.controls['inputBairro'].valid || !formulario.controls['inputBairro'].touched">
                <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
              </span>
            </div>      
            <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="formulario.controls['inputBairro'].valid || !formulario.controls['inputBairro'].touched ">
              Campo obrigatório, somente letras.
            </small>    
          </div> 
          
          <div class="form-group col-md-5">
              <label class="LabelForm" for="inputRef">Ponto Referência:</label>
              <div class="input-group">
                <input type="text" class="form-control formm" id="inputRef" placeholder="Referência" formControlName="inputRef"maxlength="45">
                <span class='input-group-addon' [class.d-none]="formulario.controls['inputRef'].valid || !formulario.controls['inputRef'].touched">
                  <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
                </span>
              </div>       
            </div> 
      </div>

    
      
        <button type="submit" class="btn btn-primary float-right btn">Salvar Alterações</button>
    
    

  
</form>
</div>










<!--

  <form #frm="ngForm" (ngSubmit)="onSubmit(frm)" >
    
    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label for="input_name">Empresa:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="input_name" placeholder="Nome" name="input_name" ngModel required #input_name="ngModel" maxlength="12">
          <span class='input-group-addon' [class.d-none]="!input_name.invalid || !input_name.touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <small id="nameHelpBlock" class="form-text" 
          [class.texterror]="input_name.invalid && input_name.touched"
          [class.text-muted]="!input_name.invalid || !input_name.touched">
          Máximo 12 caracteres.
        </small>
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="!input_name.invalid || !input_name.touched">
          Campo obrigatório.
        </small>
      </div>

      <div class="form-group col-md-6">
        <label for="inputCNPJ">CNPJ:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputCNPJ" placeholder="CNPJ" 
            name="inputCNPJ" ngModel required #inputCNPJ="ngModel"
            pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" maxlength="17">
          <span class='input-group-addon' [class.d-none]="!inputCNPJ.invalid || !inputCNPJ.touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>  
        <small id="nameHelpBlock" class="form-text" 
          [class.texterror]="inputCNPJ.invalid && inputCNPJ.touched"
          [class.text-muted]="!inputCNPJ.invalid || !inputCNPJ.touched">
          Digite um CPF ou CNPJ válido.
        </small>    
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="!inputCNPJ.invalid || !inputCNPJ.touched">
          Campo obrigatório.
        </small> 
      </div>
    </div>


    <div class="form-row">

      <div class="form-group col-md-5">
        <label for="inputResp">Responsável:</label>
        <div class="input-group">
        <input type="text" class="form-control formm" id="inputResp" placeholder="Nome Sobrenome" 
            name="inputResp" ngModel required #inputResp="ngModel"
            pattern="[A-Za-z ]{3,}" maxlength="45">
          <span class='input-group-addon' [class.d-none]="!inputResp.invalid || !inputResp.touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <small id="nameHelpBlock" class="form-text" 
            [class.texterror]="inputResp.invalid && inputResp.touched"
            [class.text-muted]="!inputResp.invalid || !inputResp.touched">
          Digite o nome do responsável.
        </small> 
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="!inputResp.invalid || !inputResp.touched">
          Campo obrigatório, somente letras.
        </small>
      </div>


      <div class="form-group col-md-5">
        <label for="inputEMAIL">Email:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputEMAIL" placeholder="Email" 
            name="inputEMAIL" ngModel required #inputEMAIL="ngModel" email maxlength="45">
          <span class='input-group-addon' [class.d-none]="!inputEMAIL.invalid || !inputEMAIL.touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <small id="nameHelpBlock" class="form-text" 
            [class.texterror]="inputEMAIL.invalid && inputEMAIL.touched"
            [class.text-muted]="!inputEMAIL.invalid || !inputEMAIL.touched">
          Digite um E-MAIL válido.
        </small>  
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="!inputEMAIL.invalid || !inputEMAIL.touched">
          Campo Obrigatório.
        </small>
      </div> 

      <div class="form-group col-md-2">
        <label for="inputTel">Contato:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputTel" placeholder="Telefone ou Celular" pattern="([0-9]{10,}" maxlength="11"
            name="inputTel" ngModel required #inputTel="ngModel">
          <span class='input-group-addon' [class.d-none]="!inputTel.invalid || !inputTel.touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <small id="nameHelpBlock" class="form-text" 
            [class.texterror]="inputTel.invalid && inputTel.touched"
            [class.text-muted]="!inputTel.invalid || !inputTel.touched">
          Digite um telefone ou celular válido.
        </small>  
        <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="!inputTel.invalid || !inputTel.touched">
          Campo obrigatório, somente números.
        </small>
      </div>
    </div> 
   
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>

-->