<div [formGroup]="addressForm" autocomplete="nope">

  <!-- Linha 1 -->
  <div class="form-row">

    <!-- Campo de input do cep -->
    <div class="form-group col-lg-2">

      <label class="classLabelForm" for="end_cep">Cep:</label>
      <div class="input-group">

        <input 
          type="text" 
          autocomplete="nope" 
         class="form-control classImputForm"            
         [class.classBorderInvalid]="!showErrors( 'end_cep' )"
          
          id="end_cep" 
          placeholder="Cep" 
          formControlName="end_cep" 
          maxlength="9" 
          (blur)="buscarCep(addressForm.value.end_cep)"
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_cep' )">

          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_cep' )">
        Cep inválido.
      </small>

    </div>

    <!-- Campo de input da Rua -->
    <div class="form-group col-lg-5">

      <label class="classLabelForm" for="end_rua">Rua:</label>
      <div class="input-group">

        <input type="text" autocomplete="nope"class="form-control classImputForm"            
        [class.classBorderInvalid]="!showErrors( 'end_rua' )"id="end_rua" placeholder="Logradouro" formControlName="end_rua" maxlength="60">

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_rua' )">

          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_rua' )">

        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do Número -->
    <div class="form-group col-lg-2">
      <label class="classLabelForm" for="end_num">Número:</label>
      <div class="input-group">

        <input type="text" autocomplete="nope"class="form-control classImputForm"            
        [class.classBorderInvalid]="!showErrors( 'end_num' )"id="end_num" placeholder="Número" formControlName="end_num" maxlength="6">

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_num' )">

          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_num' )">

        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do Complemento -->
    <div class="form-group col-lg-3">
      <label class="classLabelForm" for="end_comp">Complemento:</label>

      <div class="input-group">
        <input type="text"  autocomplete="nope"class="form-control classImputForm"            
        [class.classBorderInvalid]="!showErrors( 'end_comp' )"id="end_comp" placeholder="Complemento" formControlName="end_comp" maxlength="45">
      </div>
    </div>
  </div>

  <!-- Linha 2 -->
  <div class="form-row">

    <!--  Campo de input do  UF -->
    <div class="form-group col-lg-1">
      <label class="classLabelForm" for="end_uf">Uf:</label>

      <div class="input-group">
        <input type="text"  autocomplete="nope"class="form-control classImputForm"            
        [class.classBorderInvalid]="!showErrors( 'end_uf' )"id="end_uf" placeholder="UF" formControlName="end_uf" maxlength="2">

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_uf' )">
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_uf' )">
        Campo obrigatório, utilize sigla.
      </small>
    </div>

    <!-- Campo de input do  Cidade -->
    <div class="form-group col-lg-3">
      <label class="classLabelForm" for="end_cidade">Cidade:</label>
      <div class="input-group">
        <input type="text"class="form-control classImputForm"            
        [class.classBorderInvalid]="!showErrors( 'end_cidade' )"id="end_cidade" placeholder="Cidade" formControlName="end_cidade" maxlength="45">

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_cidade' )">
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_cidade' )">
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do  Bairro -->
    <div class="form-group col-lg-3">
      <label class="classLabelForm" for="end_bairro">Bairro:</label>
      <div class="input-group">

        <input type="text" autocomplete="nope"class="form-control classImputForm"            
        [class.classBorderInvalid]="!showErrors( 'end_bairro' )"id="end_bairro" placeholder="Bairro" formControlName="end_bairro" maxlength="45">

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_bairro' )">
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_bairro' )">
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do  Campo Referencia -->
    <div class="form-group col-lg-5">
      
      <label class="classLabelForm" for="end_ref">Ponto Referência:</label>
      <div class="input-group">

        <input type="text" 
        autocomplete="nope"
         class="form-control classImputForm"            
         [class.classBorderInvalid]="!showErrors( 'end_ref' )"
          id="end_ref" 
          placeholder="Referência" 
          formControlName="end_ref" 
          maxlength="45"
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' [class.d-none]="showErrors( 'end_ref' )">
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>
      
      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro" [class.d-none]="showErrors( 'end_ref' )">
        Campo obrigatório.
      </small>
    </div>
  </div>
</div>