.classMargemLateral {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
  }

.helptext {
    margin-left: 5px;
}



.classBorderInvalid {
    border: 2px solid red !important;
    background-color: rgb(255, 200, 200, 0.2);
    border-radius: 12px;

    
}
.classImputForm {
    border-color:#21237b;
    border-radius: 10px !important;
   
}
.classImputForm:focus {
    background-color: rgba(117, 165, 255, 0.226);
    border: 2px solid #21237b !important;
}
.erroicon {
    width: 20px;
    padding-top: 4px; 
    align-self: center;
    margin-left: -30px; 
    position: relative;
    border-radius: 10px;

}
.texterror{
    color: red;
}

.classLabelForm{
    color: #21237b;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    
}

