<div [formGroup]="repForm">
  <!-- Linha 1  -->
  <div class="form-row">
        
    <!-- Campo de input do nome do relógio -->
    <div class="form-group col-lg-3">

      <label class="LabelForm" for="rep_nome">Nome do Relógio:</label>
      <div class="input-group">
        
        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'rep_nome' )"

          id="rep_nome" 
          placeholder="Nome" 
          formControlName="rep_nome" 
          maxlength="12"
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'rep_nome' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de ajuda -->
      <small id="nameHelpBlock" 
          class="form-text helptext" 
          [class.texterror]="!showErrors( 'rep_nome' )"
          [class.text-muted]="showErrors( 'rep_nome' )">
        Será exibido na tela Ping.
      </small>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'rep_nome' )">
        Campo obrigatório, máximo 12 caracterers.
      </small>
    </div>

    <!-- Campo de input do nome da empresa Dropdownchoise -->
    <div class="form-group col-lg-3">

     
      <label class="LabelForm" for="emp_nome">Empresa:</label>
      <div class="input-group">
          
          
        <input 
          type="text" 
          class="form-control classImputForm"           
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'emp_nome' )"
          id="emp_nome" 
          placeholder="Nome" 
          formControlName="emp_nome"     
          (keyup)="ShowDrop(repForm.controls['emp_nome'].value)"
           
        > 
            
        <div class='input-group-addon' [class.d-none]="showErrors( 'emp_nome' )">
          <span>
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <div class="input-group-append">
          <div class="dropdown-menu" [class.show]="show">
            <li class="dropdown-item" (click)="Clickitem(item.name)" *ngFor="let item of companys">{{item.name}}</li>
          </div>
        </div>   
      </div>

      <!-- Mensagem de ajuda -->
      <small id="nameHelpBlock" 
          class="form-text helptext" 
          [class.texterror]="!showErrors( 'emp_nome' )"
          [class.text-muted]="showErrors( 'emp_nome' )">
            Escolha uma opção.
      </small>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'emp_nome' )">
        Campo obrigatório, máximo 12 caracterers, iniciar com letra maiúscula.
      </small>
    </div>

    <!-- Campo de input do IP do Relógio -->
    <div class="form-group col-lg-3">

      <label class="LabelForm" for="rep_ip">IP:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'rep_ip' )"
          id="rep_ip" 
          placeholder="IP ou Hostname" 
          formControlName="rep_ip"
          maxlength="45"
          
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'rep_ip' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'rep_ip' )"
      >
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input da porta do rep -->
    <div class="form-group col-lg-3">

      <label class="LabelForm" for="rep_port">Porta:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'rep_port' )"
          id="rep_port" 
          placeholder="Porta" 
          formControlName="rep_port"
          maxlength="45"
        >

        <!-- Icone de X has error -->
        <span 
          class='input-group-addon' 
          [class.d-none]="showErrors( 'rep_port' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>  
      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'rep_port' )"
      >
        Campo obrigatório. 
      </small>    
    </div> 
  </div>


  <!-- Linha 2  -->
  <div class="form-row">

    <!-- Campo de input do nome da marca do rep Dropdownchoise -->
    <div class="form-group col-lg-3">

  
      <label class="LabelForm" for="reps_marca">Marca:</label>
      <div class="input-group">
          
          
        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'reps_marca' )"
          id="reps_marca" 
          placeholder="Pesquisar" 
          formControlName="reps_marca"     
          (keyup)="ShowDShowDropMarcaModelrep(repForm.controls['reps_marca'].value)" 
        > 

        <!-- Icone de X has error -->    
        <div class='input-group-addon' [class.d-none]="showErrors( 'reps_marca' )">
          <span >
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
        <div class="input-group-append">   
          <div class="dropdown-menu" [class.show]="showmarcamodelo" >
            <li class="dropdown-item" (click)="ClickitemMarcaModeloRep(item)" *ngFor="let item of marcamodelo" >{{item.reps_marca}} {{item.reps_modelo}}</li>
          </div>
        </div>  
      </div>
  
    <!-- Mensagem de ajuda -->
    <small id="nameHelpBlock" 
        class="form-text helptext" 
        [class.texterror]="!showErrors( 'reps_marca' )"
        [class.text-muted]="showErrors( 'reps_marca' )">
          Pesquise por marca ou modelo.
    </small>

    <!-- Mensagem de erro -->
    <small id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'reps_marca' )">
      Campo obrigatório.
    </small>
  </div>

    <!-- Campo de input do nome empresa do rep, readonly -->
    <div class="form-group col-lg-4">

      <label class="LabelForm" for="reps_modelo">Modelo:</label>
      <div class="input-group">
            
        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'reps_modelo' )"
          id="reps_modelo" 
          placeholder="" 
          formControlName="reps_modelo"     
          [readonly]="true"
        > 
            
        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'reps_modelo' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'reps_modelo' )">
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do nome da empresa Dropdownchoise -->
    <div class="form-group col-lg-2">

      <label class="LabelForm" for="leitr_leitor">Leitor:</label>
      <div class="input-group">
        <select 
          class="custom-select classImputForm" 
          id="leitr_leitor"
          formControlName="leitr_leitor" 
          [class.classBorderInvalid]="!showErrors( 'leitr_leitor' )"
        >
          <option selected>Escolha...</option>
          <option *ngFor="let item of leitores">{{item.leitor}}</option>
            
        </select>
        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'leitr_leitor' )"
         >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>
      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'leitr_leitor' )">
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do numero do relógio -->
    <div class="form-group col-lg-3">

      <label class="LabelForm" for="repdata_serienum">Número de Série:</label>
      <div class="input-group">
        
        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'repdata_serienum' )"
          id="repdata_serienum" 
          placeholder="Numero do REP" 
          formControlName="repdata_serienum" 
          maxlength="17"
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'repdata_serienum' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'repdata_serienum' )">
        Campo obrigatório.
      </small>
    </div>

  </div>

  <!-- Linha 3  -->
  <div class="form-row">
    
    <!-- Campo de input do CNPJ da empresa -->
    <div class="form-group col-lg-3">

      <label class="LabelForm" for="repdata_cnpjcompra">CNPJ de Compra:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'repdata_cnpjcompra' )"
          id="repdata_cnpjcompra" 
          placeholder="CNPJ ou CPF" 
          formControlName="repdata_cnpjcompra"
          maxlength="18"
          (blur)="arrumaCNPJ(repForm.value.repdata_cnpjcompra, 'repdata_cnpjcompra' )"
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'repdata_cnpjcompra' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'repdata_cnpjcompra' )"
      >
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do CNPJ da empresa -->
    <div class="form-group col-lg-2">

        <label class="LabelForm" for="repdata_mod">Modulo:</label>
        <div class="input-group">
  
          <input 
            type="text" 
            class="form-control classImputForm"            
            autocomplete="false"                   
            [class.classBorderInvalid]="!showErrors( 'repdata_mod' )"
            id="repdata_mod" 
            placeholder="Numero Modulo" 
            formControlName="repdata_mod"
            maxlength="18"
            (blur)="arrumaCNPJ(repForm.value.repdata_mod)"
          >
  
          <!-- Icone de X has error -->
          <span class='input-group-addon' 
            [class.d-none]="showErrors( 'repdata_mod' )"
          >
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
  
        <!-- Mensagem de erro -->
        <small 
          id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'repdata_mod' )"
        >
          Campo obrigatório.
        </small>
      </div>

    <!-- Campo de input da chave de registro -->
    <div class="form-group col-lg-3" [class.d-none]="!showregister">

      <label class="LabelForm" for="repdata_chaveregistro">Chave de registro:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'repdata_chaveregistro' )"
          id="repdata_chaveregistro" 
          placeholder="CNPJ ou CPF" 
          formControlName="repdata_chaveregistro"
          maxlength="25"
          
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'repdata_chaveregistro' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'repdata_chaveregistro' )"
      >
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input da senha comunicacao -->
    <div class="form-group col-lg-3" [class.d-none]="!showpswcomu">

      <label class="LabelForm" for="repdata_senhacomunic">Senha Comunicação:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            
          autocomplete="false"                   
          [class.classBorderInvalid]="!showErrors( 'repdata_senhacomunic' )"
          id="repdata_senhacomunic" 
          placeholder="Senha de Comunicação" 
          formControlName="repdata_senhacomunic"
          maxlength="25"
          
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'repdata_senhacomunic' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'repdata_senhacomunic' )"
      >
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input da usuário -->
    <div class="form-group col-lg-2" [class.d-none]="!showusr">

      <label class="LabelForm" for="repdata_usuario">Login:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            autocomplete="false"                   [class.classBorderInvalid]="!showErrors( 'end_ref' )"
          id="repdata_usuario" 
          placeholder="Usuário" 
          formControlName="repdata_usuario"
          maxlength="25"
          
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'end_ref' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'end_ref' )"
      >
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input da Senha -->
    <div class="form-group col-lg-2" [class.d-none]="!showusr">

      <label class="LabelForm" for="repdata_senha">Senha:</label>
      <div class="input-group">

        <input 
          type="text" 
          class="form-control classImputForm"            autocomplete="false"                   [class.classBorderInvalid]="!showErrors( 'end_ref' )"
          id="repdata_senha" 
          placeholder="Senha" 
          formControlName="repdata_senha"
          maxlength="25"
          
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="showErrors( 'end_ref' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text texterror" 
        [class.d-none]="showErrors( 'end_ref' )"
      >
        Campo obrigatório.
      </small>
    </div>

    <!-- Campo de input do cpf do adv -->
    <div class="form-group col-lg-3" [class.d-none]="!showcpf">

        <label class="LabelForm" for="repdata_cpf">CPF:</label>
        <div class="input-group">
  
          <input 
            type="text" 
            class="form-control classImputForm"            
            autocomplete="false"                   
            [class.classBorderInvalid]="!showErrors( 'repdata_cpf' )"
            id="repdata_cpf" 
            placeholder="Senha" 
            formControlName="repdata_cpf"
            maxlength="14"
            (blur)="arrumaCNPJ(repForm.value.repdata_cpf , 'repdata_cpf')"
            
          > 
  
          <!-- Icone de X has error -->
          <span class='input-group-addon' 
            [class.d-none]="showErrors( 'end_ref' )"
          >
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>
  
        <!-- Mensagem de erro -->
        <small 
          id="nameHelpBlock" 
          class="form-text texterror" 
          [class.d-none]="showErrors( 'end_ref' )"
        >
          Campo obrigatório.
        </small>
      </div>

      
  </div>
</div>
