<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral animated bounceInUp">
  
    <!-- Titulo -->
    <label class="classLabelTitle">Cadastro De Uma Novo Usuário</label>
    
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="onSubmit(formulario.value, formulario.valid)">
      
        <div class="card classCardForm">
  
      <!-- Chama Componete referente ao cadastro da empresa -->
      <app-user-comum-form [userComumForm]="formulario"></app-user-comum-form>

      <div class="form-group col-md-6 classCentro">
          
      <div class="classDivSelect">
          <label class="classLabelForm" for="emp_nome">Tipo:</label>  
          <select class="classSelect classImputForm">
            <option class="classOption selected" value="">Tipo de Conta:</option>
            <option class="classOption" value="1">Usuário Suporte</option>
            <option class="classOption" value="2">Usuário Cadastro</option>
            <option class="classOption" value="3">Usuário Projetos</option>
            <option class="classOption" value="4">Usuário Módulo</option>
            <option class="classOption" value="5">Usuário Módulo + Projetos</option>
            <option class="classOption" value="6">Administrador</option>
          </select>
        </div>
      </div>
   

          
      </div>
  
      <!-- Botão submit -->
      <div class="float-right" (mouseenter)="showImage(formulario.valid)" (mouseleave)="hideImage()" >
        <button 
          type="submit" 
          class="btn-primary classSubmitButton"
          [class.classFormInvalido]="formulario.invalid" 
          [class.classFormValido]="formulario.valid"
        >
          Salvar Alterações
        </button>
      </div>
    </form>
    <br />
    <!-- Margem no final da Página -->
    <div class="classMargemLateral classMargimFimPagina"></div>
  </div>
    
    
    