@import url(./../../../generic/css-generico/botaoSubmit.css);
@import url(./../../../generic/css-generico/tilulodapagina.css);
@import url(./../../../generic/css-generico/corpodepagina.css);
@import url(./../../../generic/css-generico/formimput.css);
@import url(./../../../generic/css-generico/cardform.css);

.classLabelForm{
  width: 100px;
  align-content: center;
  padding-top: 3px;
  
  margin-left: 5px;
  
}
  

/* Customisa Campo de Escolha do Tipo De COnta */
.classCentro{
    margin: auto;
}
.classSelect{
    width: calc(100% - 120px)  !important;
    border-color:#21237b;
    border-radius: 10px !important;
    height: 38px;
}


    
  
  