
/* Label Title */
.classLabelTitle{

    /* Alterações de Corpo */
    border: none;
    padding-top: 3px;
    width: 100%;
  
    /* ALterações de Texto */
    text-align: center;
    color: #21237b;
   
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .classLabelForm{
    width: 100px;
    align-content: center;
    padding-top: 3px;
    color: #21237b;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Linha Divisora */
  .classLinhaDivisora{
    /* Alterações de Corpo */
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Caracteristicas da Linha */
    border-top: 1px solid #21237b;
  }
  
  /* Margem Lateral */
  .classMargemLateral {
    /* Alterações de Corpo */
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
  }
  
  /* Margem Final da Página */
.classMargimFimPagina{
  margin: 100px;
  }



/* Customisa Campo de Escolha do Tipo De COnta */
.classCentro{
    margin: auto;
}
.classSelect{
    width: calc(100% - 105px);
    border-color:#21237b;
    border-radius: 10px !important;
    height: 38px;
}

  
  /* Botão de Submit*/
  .classSubmitButton{
    /* Alterações de Corpo */
    background-color: #21237b; 
    border: 4px solid #21237b;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    box-shadow: 2px 5px #10113B; 
    
    /* ALterações de Texto */
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  }
  
  /* Caso Formulario Invalido */
    /* Bloqueando cursor e tirando borda */
    .classFormInvalido{
        cursor: not-allowed;
        outline: none;
        box-shadow: 2px 5px #10113B; 
    }
  
    /* Removendo quadrado de foco */
    .classFormInvalido:focus{
        outline-style:none;
        box-shadow: 2px 5px #10113B; 
        border-color:transparent;
    }
    /* Evento Click */
    .classFormInvalido.classSubmitButton:active{
        outline-style:none;
        box-shadow: 2px 5px #10113B !important; 
        border-color:transparent;
    }
  
    /* Evento de hover */
    .classFormInvalido.classSubmitButton:hover {
        background-color: #10113B;
        color: red;
        border: 4px solid red;
  
    }
    /* Criando Barra Sublinhada */
    .classFormInvalido.classSubmitButton::before {
        content: '';
        display: block;
        height: 5px;
        width: 0%;
        background-color: red;
        position: relative;
        top: 30px;
        transition: all ease-in-out 250ms;
    }
    /* Tamanho máximo da Barra */
    .classFormInvalido.classSubmitButton:hover::before {
        width: 100%;
    }
  
  
  /* Caso Valido */
    .classFormValido{
        cursor: pointer;
        outline: none;
        box-shadow: 2px 5px #10113B; 
    }
  
    /* Removendo quadrado de foco */
    .classFormValido:focus{
        outline-style:none;
        box-shadow: 2px 5px #10113B; 
        border-color:transparent;
    }
    /* Evento Click */
    .classFormValido.classSubmitButton:active{
        outline-style:none;
        box-shadow: 1px 2px #0C0D2E !important; 
        border-color:transparent;
        border-bottom: 2px solid green !important;
        border-right: 2px solid green !important;
    }
    /* Evento de hover */
    .classFormValido.classSubmitButton:hover {
        background-color: #10113B;
        color: green;
        border: 4px solid green;
    }
     /* Criando Barra Sublinhada */
    .classFormValido.classSubmitButton::before {
        content: '';
        display: block;
        height: 5px;
        width: 0%;
        background-color: green;
        position: relative;
        top: 30px;
        transition: all ease-in-out 250ms;
    }
    /* Tamanho máximo da Barra */
    .classFormValido.classSubmitButton:hover::before {
        width: 100%;
    }
    
  
  