<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral animated bounceInUp">
  
    <!-- Titulo -->
    <label class="classLabelTitle">Cadastro De Uma Novo Usuário</label>
    <label class="classTextTitleError animated shake" [class.d-none]="!ocorreuSubmit">O formulário contém erros, porfavor corrigi-los antes de Salvar.</label>
    
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="onSubmit(formulario.value, formulario.valid)">
      
        <div class="card classCardForm">
  
      <!-- Chama Componete referente ao cadastro da empresa -->
      <app-user-comum-form [userComumForm]="formulario"></app-user-comum-form>

      <div class="form-group col-md-6 classCentro">
          
      <div class="classDivSelect">
          <label class="classLabelForm" for="emp_nome">Tipo:</label>  
          <select class="classSelect classImputForm" id="user_tipe" formControlName="user_tipe">
            <option class="classOption selected" value="">Tipo de Conta:</option>
            <option class="classOption" value="7">Usuário Suporte</option>
            <option class="classOption" value="6">Usuário Cadastro</option>
            <option class="classOption" value="5">Usuário Expedição</option>
            <option class="classOption" value="4">Usuário Projetos</option>
            <option class="classOption" value="3">Usuário Módulo</option>
            <option class="classOption" value="2">Usuário Módulo + Projetos</option>
            <option class="classOption" value="1">Administrador</option>
          </select>
        </div>
      </div>
   

          
      </div>
  
      <!-- Botão submit -->
      <div class="float-right">
        <button 
          type="submit" 
          class="btn-primary classSubmitButton"
          [class.classFormInvalido]="formulario.invalid" 
          [class.classFormValido]="formulario.valid"
        >
          Salvar Alterações
        </button>

        <!-- Modal -->
       <div class="modal modal-backdrop fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" [class.show]=" showModal " [style.display]=" showModal ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
          <div class="modal-content classModalTamanho ">
            <div class="modal-header">
              <h5 class="modal-title classModalLabalsTitle" id="ModalLabel">Parabéns, usuário criado!</h5>
              
                
            </div>
            
                <label class="classModalLabals"> O que deseja fazer?</label>
            
            <div class="modal-footer justify-content-around">
            
              <button type="button" class="classModalBotao" (click)="ClearForm()">Cadastrar outro usuário</button>
              
              <button type="button" class="classModalBotao" onclick="window.location.href='#/pages/register'">Voltar ao monitoramento</button>

            </div>
          </div>
        </div>
      </div>


      </div>
    </form>
    <br />
    <!-- Margem no final da Página -->
    <div class="classMargemLateral classMargimFimPagina"></div>
  </div>
    
    
    