@import url(./../../../generic/css-generico/botaoSubmit.css);
@import url(./../../../generic/css-generico/tilulodapagina.css);


  .classLabelForm{
    width: 100px;
    align-content: center;
    padding-top: 3px;
    color: #21237b;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Linha Divisora */
  .classLinhaDivisora{
    /* Alterações de Corpo */
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Caracteristicas da Linha */
    border-top: 1px solid #21237b;
  }
  
  /* Margem Lateral */
  .classMargemLateral {
    /* Alterações de Corpo */
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
  }
  
  /* Margem Final da Página */
.classMargimFimPagina{
  margin: 100px;
  }



/* Customisa Campo de Escolha do Tipo De COnta */
.classCentro{
    margin: auto;
}
.classSelect{
    width: calc(100% - 105px);
    border-color:#21237b;
    border-radius: 10px !important;
    height: 38px;
}


    
  
  