<div [formGroup]="telForm" autocomplete="no">
  <div class="form-row">
    <div class="form-group col-lg-6">

      <label class="classLabelForm" for="tel_number">Telefone:</label>
      <div class="input-group">

        <input 
          type="text" 
          autocomplete="no" 
          class="form-control classImputForm" 
          [class.classBorderInvalid]="!showErrors( 'tel_number' )" 
          id="tel_number" 
          placeholder="Fixo ou Celular" 
          formControlName="tel_number"
          maxlength="15"
          (blur)="arrumaTel(telForm.value.tel_number, 'tel_number' )"
        >

        <!-- Icone de X has error -->
        <span 
          class='input-group-addon' 
          [class.d-none]="showErrors( 'tel_number' )" 
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text classTextodeErro" 
        [class.d-none]="showErrors( 'tel_number' )"
      >
        Campo obrigatório, coloque o DDD
      </small>
    </div>

    <div class="form-group col-lg-6">

      <label class="classLabelForm" for="tel_resp">Responsável:</label>
      <div class="input-group">

        <input 
          type="text" 
          autocomplete="no" 
          class="form-control classImputForm" 
          [class.classBorderInvalid]="!showErrors( 'tel_resp' )" 
          id="tel_resp" 
          placeholder="Nome Sobrenome" 
          formControlName="tel_resp"
          maxlength="45"
        >

        <!-- Icone de X has error -->
        <span 
          class='input-group-addon' 
          [class.d-none]="showErrors( 'tel_resp' )"
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>  
      <!-- Mensagem de erro -->
      <small 
        id="nameHelpBlock" 
        class="form-text classTextodeErro" 
        [class.d-none]="showErrors( 'tel_resp' )"
      >
        Campo obrigatório. 
      </small>    
    </div> 
  </div> 
</div>

