@import url(./../../../../generic/css-generico/formimput.css);

.classLabelForm{
    width: 100px !important;
    align-content: center;
    padding-top: 3px;
    margin-left: 5px;
    
}

.classSeparador{
    padding: 10px;
}

.classCentro{
    margin: auto;
}

