<div [formGroup]="userComumForm">
  
    
    <!-- Campo de input do nome da empresa -->
    <div class="form-group col-md-6 classCentro">

      
      <div class="input-group">
        <label class="classLabelForm" for="user_login">Login:</label>
        <input 
          type="text" 
          class="form-control classImputForm" 
          id="user_login" 
          placeholder="Digite o Login" 
          formControlName="user_login" 
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="userComumForm.controls['user_login'].valid || !userComumForm.controls['user_login'].touched "
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>


      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text classTextodeErro" 
          [class.d-none]="userComumForm.controls['user_login'].valid || !userComumForm.controls['user_login'].touched ">
        Campo obrigatório.
      </small>
  

      <div class="classSeparador"></div>
      
      <div class="input-group">
        <label class="classLabelForm" for="user_psw">Senha:</label>

        <input 
          type="text" 
          class="form-control classImputForm" 
          id="user_psw" 
          placeholder="Digite a Senha" 
          formControlName="user_psw" 
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="userComumForm.controls['user_psw'].valid || !userComumForm.controls['user_psw'].touched "
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text classTextodeErro" 
          [class.d-none]="userComumForm.controls['user_psw'].valid || !userComumForm.controls['user_psw'].touched ">
        Campo obrigatório.
      </small>
    
 
    <div class="classSeparador"></div>
      
      <div class="input-group">
        <label class="classLabelForm" for="user_re_psw">Senha:</label>

        <input 
          type="text" 
          class="form-control classImputForm" 
          id="user_re_psw" 
          placeholder="Confirme a Senha" 
          formControlName="user_re_psw" 
        >

        <!-- Icone de X has error -->
        <span class='input-group-addon' 
          [class.d-none]="userComumForm.controls['user_re_psw'].valid || !userComumForm.controls['user_re_psw'].touched "
        >
          <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
        </span>
      </div>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text classTextodeErro" 
          [class.d-none]="userComumForm.controls['user_re_psw'].valid || !userComumForm.controls['user_re_psw'].touched ">
        Campo obrigatório.
      </small>
      <div class="classSeparador"></div>
    </div>

</div>

