
<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral animated bounceInUp">

    <!-- Titulo -->
    <label class="classLabelTitle">Cadastro De Um Novo Módulo</label>
    <label class="classTextTitleError animated shake" [class.d-none]="!ocorreuSubmit">O formulário contém erros, porfavor corrigi-los antes de Salvar.</label>
  
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="onSubmit()">
      
      <div class="card classCardForm">
  
      <!-- Chama Componete referente ao cadastro de um modelo novo de relógio -->  
      <app-module-form [moduleForm]="formulario"[ocorreuSubmit]="ocorreuSubmit" [formPassive]="false"></app-module-form>
      
      </div>
      
      <div class="card classCardForm">

          <!-- Chama Componete referente ao cadastro do chip -->  
          <app-chip-form [chipForm]="formulario"[ocorreuSubmit]="ocorreuSubmit" [formPassive]="false"></app-chip-form>
        </div>

      <!-- Botão submit -->
      <div class="float-right">
          <button 
            type="submit" 
            class="btn-primary classSubmitButton"
            [class.classFormInvalido]="formulario.invalid" 
            [class.classFormValido]="formulario.valid"
          >
            Salvar Alterações
          </button>
        </div>
      </form>
      <br />
      <!-- Margem no final da Página -->
      <div class="classMargemLateral classMargimFimPagina"></div>
    </div>