
<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral">

    <!-- Titulo -->
    <label class="classLabelTitle">Cadastro De Um Novo Modelo De Relógio</label>
  
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      
      <div class="form-row classLinhaDivisora"></div>
  
      <!-- Chama Componete referente ao cadastro de um modelo novo de relógio -->  
      <app-equip-form [equipForm]="formulario"></app-equip-form>
      
      <div class="form-row classLinhaDivisora"></div>
      
      <!-- Botão submit -->
      <div class="float-right" (mouseenter)="showImage(formulario.valid)" (mouseleave)="hideImage()" >
          <button 
            type="submit" 
            class="btn-primary classSubmitButton"
            [class.classFormInvalido]="formulario.invalid" 
            [class.classFormValido]="formulario.valid"
          >
            Salvar Alterações
          </button>
        </div>
      </form>
      <br />
      <!-- Margem no final da Página -->
      <div class="classMargemLateral classMargimFimPagina"></div>
    </div>