
    <div class="container">
        <div class="card classCard">
           
            <img class="classlogo" src="/assets/icons/logogrps.png" />
           
            
            
            <form [formGroup]="formulario">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" autocomplete="nope" class="form-control classformlog"
                    id="user_nome" placeholder="Username" formControlName="user_nome" autofocus>  
                <input type="password" autocomplete="nope" class="form-control classformlog"
                    id="user_pass" placeholder="Password" formControlName="user_pass">  
                
                <button class="btn btn-lg btn-primary btn-block btn-signin" (click)='Validar_Login()'  type="submit">Acessar</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->