<div class="form-group col-md-6 classCentro">

  <div class="classDivSelect">
    <label class="classLabelForm" for="emp_nome">Envio via:</label>
    <select class="classSelect classImputForm">
      <option class="classOption selected" value="">Escolha um...</option>
      <option class="classOption" value="1">Técnico Real Ponto</option>
      <option class="classOption" value="2">O Cliente Retira</option>
      <option class="classOption" value="3">Envio via Correio</option>
      <option class="classOption" value="4">Envio via Transportadora</option>
      <option class="classOption" value="5">Envio via Motoboy</option>
    </select>
  </div>
</div>