<div class="classMargemLateral animated bounceInUp">
  
  <label class="classLabelTitle">Cadastro De Clientes</label>
  
  

  <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value, formulario.valid)">
  
    <div class="card classCardForm">
    
    <app-user-comum-form [userComumForm]="formulario"></app-user-comum-form>
    
    <div class="form-group col-md-6 classCentro">
      
      <div class="input-group">
        <label class="classLabelForm" for="emp_nome">Empresa:</label>      
        <input 
          type="text" 
          class="form-control classImputForm" 
          [class.classBorderInvalid]="!showErrors( 'emp_nome' )"
          id="emp_nome" 
          placeholder="Pesquisar" 
          formControlName="emp_nome"     
          (keyup)="ShowDrop(formulario.controls['emp_nome'].value)" 
        > 
                
        <div class='input-group-addon' [class.d-none]="showErrors( 'emp_nome' )">
          <span >
            <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
          </span>
        </div>
        <div class="input-group-append"> 
          <div class="dropdown-menu" [class.show]="show" >
            <li class="dropdown-item" (click)="Clickitem(item.name)" *ngFor="let item of companys" >{{item.name}}</li>
          </div>
        </div>
      </div>

      <!-- Mensagem de ajuda -->
      <small id="nameHelpBlock" 
          class="form-text helptext" 
          [class.classTextodeErro]="!showErrors( 'emp_nome' )"
          [class.text-muted]="showErrors( 'emp_nome' ) ">
            Escolha uma opção.
      </small>

      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" 
          class="form-text classTextodeErro" 
          [class.d-none]="showErrors( 'emp_nome' )">
        Campo obrigatório, máximo 12 caracterers, iniciar com letra maiúscula.
      </small>
    </div>

    </div>
      
    <div class="float-right">
      <button 
        type="submit" 
        class="btn-primary classSubmitButton"
        [class.classFormInvalido]="formulario.invalid" 
        [class.classFormValido]="formulario.valid"
      >
        Salvar Alterações
      </button>
    </div>
  </form>
  <br />
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>
    