@import url(./../../../generic/css-generico/botaoSubmit.css);
@import url(./../../../generic/css-generico/tilulodapagina.css);
@import url(./../../../generic/css-generico/corpodepagina.css);
@import url(./../../../generic/css-generico/formimput.css);
@import url(./../../../generic/css-generico/cardform.css);

.classLabelForm{
    width: 100px;
    align-content: center;
    padding-top: 3px;
    margin-left: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.classCentro{
    margin: auto;
}