<div class="divis justify-content-center">
  <div class="classDivTitel col-4 justify-content-center">
    <label class="classLabelTitle">Cadastro De Clientes</label>
  </div>
  
  

  <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value, formulario.valid)">
    
    <div class="form-row separador"></div>
    <app-user-comum-form [userComumForm]="formulario"></app-user-comum-form>
    <div class="form-row separador"></div>
      
    <div class="float-right" (mouseenter)="showImage(formulario.valid)" (mouseleave)="hideImage()" >
      <button 
        type="submit" 
        class="btn btn-primary btn"
        [class.indisponivel]="formulario.invalid" 
        [class.valido]="formulario.valid"
      >
        <img src= "{{ imagebutton }}" 
          alt='icon' 
          class='btnicon' 
          [class.d-none]="!showimg"
        >
          Salvar Alterações
      </button>
    </div>
  </form>
  <br />
  <div class="divis fimdapag"></div>
</div>
    