@import url(./../../../generic/css-generico/botaoSubmit.css);
@import url(./../../../generic/css-generico/tilulodapagina.css);
@import url(./../../../generic/css-generico/corpodepagina.css);

.separador{
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #21237b;
}

.btn{
    background-color: #21237b; 
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 15px;
    /* padding-left: 60px; */
}
  

.btnicon {
    width: 20px;
    padding-top: 0px; 
    margin-right: 5px;
    align-self: center;
}
.classMargimFimPagina{
    margin: 100px;
}

.ng-invalid.ng-touched.formm {
    border: 1px solid red;
    border-radius: 10px;
    
}
.formm {
    border-color:#21237b;
    border-radius: 10px !important;
   
}
.erroicon {
    width: 20px;
    padding-top: 4px; 
    align-self: center;
    margin-left: -30px; 
    position: relative;
    border-radius: 10px;

}
.texterror{
    color: red;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.LabelForm{
    width: 100px;
    align-content: center;
    padding-top: 3px;
    color: #21237b;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.classCentro{
    margin: auto;
}