<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral animated bounceInUp">

  <!-- Titulo -->
  <label class="classLabelTitle">Alterar minha senha</label>
  <label class="classTextTitleError animated shake" [class.d-none]="!ocorreuSubmit">O formulário contém erros, porfavor corrigi-los antes de Salvar.</label>

  <form [formGroup]="formulario" autocomplete="off" >

    <div class="card classCardForm">

      <!-- Campo de input do nome da empresa -->
      <div class="form-group col-md-6 classCentro">
        <div class="input-group">
          <input type="text" class="form-control classImputForm" id="user_pass" placeholder="Digite sua nova senha" formControlName="user_pass"
            maxlength="45" (blur)="verifica()">
        </div>
      </div>
      <div class="classSeparador"></div>



      <div class="form-group col-md-6 classCentro">
        <div class="input-group">
          <input type="text" class="form-control classImputForm" id="user_pass2" placeholder="Digite novamente a sua senha" formControlName="user_pass2"
            maxlength="45" (blur)="verifica()">
        </div>
      </div>


      <div class="classSeparador"></div>
      <!-- Mensagem de erro -->
      <small id="nameHelpBlock" class="form-text classTextodeErro classCentro" [class.d-none]="!senhanaoconfere">
        As senhas não conhecidem.
      </small>
    </div>


    <!-- Botão submit -->
    <div class="float-right">
      <button type="button" class="btn-primary classSubmitButton" (mouseenter)="verifica()" (click)="SalvaSenha()"
      [class.classFormInvalido]="(formulario.invalid || !validade)" [class.classFormValido]="!(formulario.invalid || !validade)">
        Salvar Alterações
      </button>



    </div>

  </form>
  <br />
  <!-- Margem no final da Página -->
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>
<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal modal-backdrop fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" [class.show]=" showModal "
  [style.display]=" showModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content classModalTamanho ">
      <div class="modal-header">
        <h5 class="modal-title classModalLabalsTitle" id="ModalLabel">Sua senha foi alterada com sucesso!</h5>


      </div>

      <div class="modal-footer justify-content-around">

        <button type="button" class="classModalBotao" onclick="window.location.href='#/pages/monitor/visaogeral'">Voltar ao monitoramento</button>
      </div>
    </div>
  </div>
</div>