
<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral" [class.animated,class.bounceInUp]="!showModal">

  <!-- Titulo -->
  <label class="classLabelTitle">Entrada de um novo chip</label>
  <label class="classTextTitleError animated shake" [class.d-none]="!ocorreuSubmit">O formulário contém erros, porfavor corrigi-los antes de Salvar.</label>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit( formulario.value,  formulario.valid)" autocomplete="off">

    <div class="card classCardForm">



      <div formArrayName="chips" *ngFor="let chip of formarray().controls; let i = index;">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-lg-3">

              <label class="classLabelForm" [class.animated]='i>0' [class.bounceInLeft]='i>0' for="chip_Numchip">Número do Chip:</label>
              <div class="input-group">

                <input type="text" class="form-control classImputForm" id="chip_Numchip" placeholder="Número do Chip" formControlName="chip_Numchip"
                  maxlength="8">

                <!-- Icone de X has error -->
                <span class='input-group-addon' *ngIf="!formPassive" [class.d-none]="showErrorsFormArray( 'chip_Numchip' , i )">
                  <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
                </span>
              </div>

              <!-- Mensagem de erro -->
              <small id="nameHelpBlock" *ngIf="!formPassive" class="form-text classTextodeErro" [class.d-none]="showErrorsFormArray( 'chip_Numchip' , i )">
                Campo obrigatório, Digite os últimos 8 Digitos.
              </small>
            </div>

            <!-- Campo de input do IP do Modulo -->
            <div class="form-group col-lg-3">

              <label class="classLabelForm" [class.animated]='i>0' [class.bounceInLeft]='i>0' for="chip_ip">IP:</label>
              <div class="input-group">

                <input type="text" class="form-control classImputForm" id="chip_ip" placeholder="IP ou Hostname" formControlName="chip_ip"
                  maxlength="45">

                <!-- Icone de X has error -->
                <span class='input-group-addon' *ngIf="!formPassive" [class.d-none]="showErrorsFormArray( 'chip_ip' , i )">
                  <img src='/assets/icons/xred.png' alt='ERRO' class='classIconedeInvalido'>
                </span>
              </div>

              <!-- Mensagem de erro -->
              <small id="nameHelpBlock" *ngIf="!formPassive" class="form-text classTextodeErro" [class.d-none]="showErrorsFormArray( 'chip_ip' , i )">
                Campo obrigatório, caso 4g digite host.
              </small>
            </div>
            <!-- Campo de input da Operadora -->
            <div class="form-group col-lg-3">

              <label class="classLabelForm" [class.animated]='i>0' [class.bounceInLeft]='i>0' for="chip_Operadora">Operadora:</label>
              <div class="input-group">

                <select class="classSelect classImputForm" formControlName="chip_Operadora">
                  <option class="classOption" value="Vivo">Vivo</option>
                  <option class="classOption" value="Claro">Claro</option>
                  <option class="classOption" value="OI">OI</option>
                  <option class="classOption" value="Porto">Porto</option>
                  <option class="classOption" value="4G">4G</option>
                </select>
              
              </div>

              <!-- Mensagem de erro -->
              <small id="nameHelpBlock" *ngIf="!formPassive" class="form-text classTextodeErro" [class.d-none]="showErrorsFormArray( 'chip_Operadora' , i )">
                Campo obrigatório.
              </small>
            </div>

            <div class="form-group col-lg-3" *ngIf="i<1">

              <label class="classLabelForm" [class.animated]='i>0' [class.bounceInLeft]='i>0' for="chip_D=ata">Data:</label>
              <div class="input-group">

                <input type="date" class="form-control classImputForm date" id="chip_Data" placeholder="Operadora" formControlName="chip_Data"
                  maxlength="45">


              </div>

              <!-- Mensagem de erro -->
              <small id="nameHelpBlock" *ngIf="!formPassive" class="form-text classTextodeErro" [class.d-none]="showErrorsFormArray( 'chip_Data' , i )">
                Campo obrigatório.
              </small>
            </div>
            <div class="form-group" style="margin: auto !important;" *ngIf="i>0">
              <button type="button" class="classButtonRemover" (mouseenter)="lixo(i)" (mouseleave)="lixo(0)" (click)="removeChip(i)">
                <img src="/assets/icons/lixoBrancoaberto.png" *ngIf="ctl_lixo === i" class="classButtonRemoveIcon">
                <img src="/assets/icons/lixoBranco1.png" *ngIf="ctl_lixo !== i" class="classButtonRemoveIcon">
              </button>
            </div>

          </div>
        </div>
      </div>

      <button type="button" class="classButtonAdcionar" (click)="addChip()">Adcionar Chip
        <!-- <img src="/assets/icons/add.png" alt="icon" class="icon">  -->
      </button>
    </div>




    <!-- Botão submit -->
    <div class="float-right">
      <button type="submit" class="btn-primary classSubmitButton" (mouseenter)="preencheData()" [class.classFormInvalido]="formulario.invalid"
        [class.classFormValido]="formulario.valid">
        Salvar Alterações
      </button>
       <!-- Modal -->
       <div class="modal modal-backdrop fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" [class.show]=" showModal " [style.display]=" showModal ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
          <div class="modal-content classModalTamanho ">
            <div class="modal-header">
              <h5 class="modal-title classModalLabalsTitle" id="ModalLabel">Parabéns, os dados foram salvos com sucesso!</h5>
              
                
            </div>
            
                <label class="classModalLabals"> O que deseja fazer?</label>
            
            <div class="modal-footer justify-content-around">
            
              <button type="button" class="classModalBotao" (click)="ClearForm()">Cadastrar outros chips</button>
              
              <button type="button" class="classModalBotao" onclick="window.location.href='#/pages/register'">Voltar ao monitoramento</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    
  </form>
  <br />
  <!-- Margem no final da Página -->
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>
