<!-- Divisoria tamanho das laterais -->
<div class="classMargemLateral" [class.animated,class.bounceInUp]="!showModal">

  <!-- Titulo -->
  <label class="classLabelTitle" [class.classred]="desativos"> {{ title }} </label>

  <div class="cabecalho">


    <div class="classCampoPesquisa">
      <div class="input-group">

        <input type="text" class="form-control classImputSearch" #search (keyup)="Search(search.value)">

        <!-- Icone de X has error -->
        <span class='input-group-addon'>
          <img src='/assets/icons/lupa.png' alt='Search' class='classButtonLupa'>
        </span>

      </div>
    </div>


    <div class="classCampoPage align-content-center">

      <button class="classButtonPage classAlinhamento" (click)="PagePrevius(page > 1)">
        <img src="/assets/icons/antverde.png" *ngIf="pagina > 1" class="classButtonIconNext">
        <img src="/assets/icons/antcinza.png" *ngIf="pagina == 1" class="classButtonIconNext">
      </button>

      <label class="classLabelFormHeader classTamanhoHeaderPage">{{ pagina }}</label>

      <button class="classButtonPage" (click)="PageNext(!nextpage)">
        <img src="/assets/icons/proxverd.png" *ngIf="!nextpage" class="classButtonIconNext">
        <img src="/assets/icons/proxcinza.png" *ngIf="nextpage" class="classButtonIconNext">
      </button>

    </div>


    <div class="classCampoContage">

      <label class="classContagemDeDados">{{ contage }}</label>

    </div>

  </div>
  <br />
  <div *ngIf='listavazia'>

    <label class="classLabelFormList classLabelnomeconta classred text-center">Lista Vazia!</label>

  </div>

  <div *ngFor="let empresa of arrayEmpresas; let i = index;">


    <div class="card classCardForm" (mouseleave)="f_ctrl_campos(0)">

      <div class="form-row">

        <div class="form-group col-lg-2 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 0)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.emp_nome }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 0)' class="classtoltip Editar">Nome</span>

        </div>

        <div class="form-group col-lg-3 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 1)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.empdata_cnpj }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 1)' class="classtoltip Editar">Cnpj</span>

        </div>

        <div class="form-group col-lg-5 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 2)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.empdata_razao
            }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 2)' class="classtoltip Editar">Razão Social</span>

        </div>

        <div class="form-group col-lg-2 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 3)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.cont_Tot }}
            relógios</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 3)' class="classtoltip Editar">Quantidade de relógios</span>

        </div>

      </div>



      <div class="form-row">

        <div class="form-group col-lg-2 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 4)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.empdata_tel }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 4)' class="classtoltip Editar">Telefone</span>

        </div>

        <div class="form-group col-lg-3 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 5)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.empdata_resp }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 5)' class="classtoltip Editar">Responsável</span>

        </div>

        <div class="form-group col-lg-5 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 6)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.empdata_email
            }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 6)' class="classtoltip Editar">E-mail</span>

        </div>

        <div class="form-group col-lg-1 classZeraMargem">

          <button type="button" class="classButton detail" (click)="EditUser(i+1)" (mouseenter)="f_ctrl_detail(i+1)"
            (mouseleave)="f_ctrl_detail(0)">
            <img src="/assets/icons/visudetail.png" *ngIf="ctrl_detail === i+1" class="classButtonIcon">
            <img src="/assets/icons/detail.png" *ngIf="ctrl_detail !== i+1" class="classButtonIcon">
          </button>

          <span *ngIf='ctrl_detail === i+1' class="classtoltip detail">Visualizar detalhes</span>

        </div>

        <div class="form-group col-lg-1 classZeraMargem" *ngIf="!desativos">
          <button type="button" class="classButton Remover" (click)="deleteEmpresa(i)" (mouseenter)="f_ctrl_lixo(i+1)"
            (mouseleave)="f_ctrl_lixo(0)">
            <img src="/assets/icons/lixoBrancoaberto.png" *ngIf="ctrl_lixo === i+1" class="classButtonIcon">
            <img src="/assets/icons/lixoBranco1.png" *ngIf="ctrl_lixo !== i+1" class="classButtonIcon">
          </button>
          <span *ngIf='ctrl_lixo === i+1' class="classtoltip Remover">Desativar conta</span>

        </div>
        <div class="form-group col-lg-1 classZeraMargem" *ngIf="desativos">
          <button type="button" class="classButton reactive" (click)="ActiveEmpresa(i)" (mouseenter)="f_ctrl_lixo(i+1)"
            (mouseleave)="f_ctrl_lixo(0)">
            <img src="/assets/icons/reset.png" *ngIf="ctrl_lixo === i+1" class="classButtonIcon">
            <img src="/assets/icons/reactive.png" *ngIf="ctrl_lixo !== i+1" class="classButtonIcon">
          </button>
          <span *ngIf='ctrl_lixo === i+1' class="classtoltip reactive">Reativar conta</span>

        </div>

      </div>



      <div class="form-row">

        <div class="form-group col-lg-5 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 7)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.end_cidade }} -
            {{
            empresa.end_uf }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 7)' class="classtoltip Editar">Cidade - UF</span>

        </div>


        <div class="form-group col-lg-5 classZeraMargem" (mouseenter)="f_ctrl_campos((i + 1) * 10 + 8)" (mouseleave)="f_ctrl_campos(0)">

          <label class="classLabelFormList classLabelnomeconta" [class.classred]="desativos">{{ empresa.end_bairro }}</label>
          <span *ngIf='ctrl_campos === ((i+1)*10 + 8)' class="classtoltip Editar">Bairro</span>

        </div>

        <div class="form-group col-lg-1 classZeraMargem">

          <button type="button" class="classButton Listar" (click)="ListarHistory(i)" (mouseenter)="f_ctrl_acoes(i+1)"
            (mouseleave)="f_ctrl_acoes(0)">
            <img src="/assets/icons/lista1.png" *ngIf="ctrl_acoes === i+1" class="classButtonIcon">
            <img src="/assets/icons/lista2.png" *ngIf="ctrl_acoes !== i+1" class="classButtonIcon">
          </button>

          <span *ngIf='ctrl_acoes === i+1' class="classtoltip Listar">Listar histórico</span>

        </div>

        <div class="form-group col-lg-1 classZeraMargem">
          <button type="button" class="classButton Editar" (click)="editarCompany(i)" (mouseenter)="f_ctrl_edit(i+1)"
            (mouseleave)="f_ctrl_edit(0)">
            <img src="/assets/icons/caneta2.png" *ngIf="ctrl_edit === i+1" class="classButtonIcon">
            <img src="/assets/icons/caneta3.png" *ngIf="ctrl_edit !== i+1" class="classButtonIcon">
          </button>

          <span *ngIf='ctrl_edit === i+1' class="classtoltip Editar">Editar conta</span>

        </div>

      </div>


    </div>
  </div>
  <div class="classCampoInativos">
    <button class="ClassBotaoVerDesativos" [class.classbackblue]="desativos" (click)="VerDesativos()">
      {{ button }}
    </button>
  </div>
  <div class="classCampoInativos">
    <button class="ClassBotaoVerDesativos" (click)="geratePDF()">
      Gerar PDF
    </button>
  </div>
  <div class="modal modal-backdrop fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    [class.show]=" showModalWhating " [style.display]=" showModalWhating ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
      <div class="modal-content classModalTamanho ">
        <div class="modal-header">
          <h5 class="modal-title classModalLabalsTitle" id="ModalLabel">Carregando...</h5>

        </div>

        <div class="progress progressbar">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

      </div>
    </div>
  </div>
</div>