
<div [formGroup]="companyForm">
  
<div class="form-row">
        
    <div class="form-group col-md-4">
      <label class="LabelForm" for="inputName">Empresa:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputName" placeholder="Nome" formControlName="inputNome"  maxlength="12">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputNome'].valid || !companyForm.controls['inputNome'].touched ">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>
      <small id="nameHelpBlock" class="form-text" 
        [class.texterror]="!companyForm.controls['inputNome'].valid && companyForm.controls['inputNome'].touched"
        [class.text-muted]="companyForm.controls['inputNome'].valid || !companyForm.controls['inputNome'].touched ">
          Máximo 12 caracteres, iniciar com letra maiúscula.
      </small>
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputNome'].valid || !companyForm.controls['inputNome'].touched ">
        Campo obrigatório.
      </small>
    </div>


    <div class="form-group col-md-3">
      <label class="LabelForm" for="inputCNPJ">CNPJ:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputCNPJ" placeholder="CNPJ ou CPF" formControlName="inputCNPJ"maxlength="18">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputCNPJ'].valid || !companyForm.controls['inputCNPJ'].touched">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>  
      <small id="nameHelpBlock" class="form-text" 
          [class.texterror]="!companyForm.controls['inputCNPJ'].valid && companyForm.controls['inputCNPJ'].touched"
          [class.text-muted]="companyForm.controls['inputCNPJ'].valid || !companyForm.controls['inputCNPJ'].touched" >
        Digite um CPF ou CNPJ válido com ou sem pontos e traços.
      </small>    
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputCNPJ'].valid || !companyForm.controls['inputCNPJ'].touched ">
        Campo obrigatório.
      </small>    
    </div> 
    <div class="form-group col-md-5">
        <label class="LabelForm" for="inputEMAIL">Email:</label>
        <div class="input-group">
          <input type="text" class="form-control formm" id="inputEMAIL" placeholder="user@email.com" formControlName="inputEMAIL">
          <span class='input-group-addon' [class.d-none]="companyForm.controls['inputEMAIL'].valid || !companyForm.controls['inputEMAIL'].touched">
            <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
          </span>
        </div>    
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputEMAIL'].valid || !companyForm.controls['inputEMAIL'].touched ">
        Campo Obrigatório.
      </small>
    </div> 
    
      
  </div>

  <div class="form-row">

    <div class="form-group col-md-7">
      <label class="LabelForm" for="inputResp">Responsável:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputResp" placeholder="Nome Sobrenome" formControlName="inputResp">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputResp'].valid || !companyForm.controls['inputResp'].touched">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>  
      <small id="nameHelpBlock" class="form-text" 
          [class.texterror]="!companyForm.controls['inputResp'].valid && companyForm.controls['inputResp'].touched"
          [class.text-muted]="companyForm.controls['inputResp'].valid || !companyForm.controls['inputResp'].touched" >
        Digite o nome do responsável. 
      </small>    
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputResp'].valid || !companyForm.controls['inputResp'].touched ">
        Campo obrigatório, somente letras, máximo 45 caracteres. 
      </small>    
    </div> 
   
    <div class="form-group col-md-2">
      <label class="LabelForm" for="inputTel">Telefone:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputTel" placeholder="Fixo ou Celular" formControlName="inputTel">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputTel'].valid || !companyForm.controls['inputTel'].touched">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>    
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputTel'].valid || !companyForm.controls['inputTel'].touched ">
        Campo obrigatório.
      </small>
    </div>
    
    <div class="form-group col-md-1">
      <label class="LabelForm" for="inputTela">Tela:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputTela" placeholder="Nome Sobrenome" formControlName="inputTela" maxlength="1">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputTela'].valid || !companyForm.controls['inputTela'].touched">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>  
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputTela'].valid || !companyForm.controls['inputTela'].touched ">
        Campo obrigatório, 1 ou 2. 
      </small>    
    </div> 
        

    <div class="form-group col-md-1">
      <label class="LabelForm" for="inputLinha">Linha:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputLinha" placeholder="Nome Sobrenome" formControlName="inputLinha" maxlength="2">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputLinha'].valid || !companyForm.controls['inputLinha'].touched">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>   
      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputLinha'].valid || !companyForm.controls['inputLinha'].touched ">
        Campo obrigatório, 0-10. 
      </small>    
    </div> 



    <div class="form-group col-md-1">
      <label class="LabelForm" for="inputColuna">Coluna:</label>
      <div class="input-group">
        <input type="text" class="form-control formm" id="inputColuna" placeholder="Nome Sobrenome" formControlName="inputColuna" maxlength="2">
        <span class='input-group-addon' [class.d-none]="companyForm.controls['inputColuna'].valid || !companyForm.controls['inputColuna'].touched">
          <img src='/assets/icons/xred.png' alt='ERRO' class='erroicon'>
        </span>
      </div>  

      <small id="nameHelpBlock" class="form-text texterror" [class.d-none]="companyForm.controls['inputColuna'].valid || !companyForm.controls['inputColuna'].touched ">
        Campo obrigatório. 
      </small>    
    </div> 



</div> 

</div>