.classContagemDeDados{
    color: #21237b;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: end;
}

.classButtonLupa{
    width: 20px;
    padding-top: 6px; 
    align-self: center;
    margin-left: -100px; 
    position: relative;
    border-radius: 10px;
    z-index:3;

}

.classButtonIconNext{
    width: 20px;
    height: 20px;
    margin: auto;
    z-index:3;
}

.classButtonPage{
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 50px;

    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    outline: none;
    z-index:2;
}
.classButtonPage:hover{

    width: 30px;
    height: 30px;
    background-color: rgb(144, 255, 190);
    border: none;
    border-radius: 50px;

    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    outline: none;
    z-index:2;
}

.classLabelFormHeader{
    color: #21237b;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}

.classCampoPesquisa{
    position: relative;
    width: 35%;
    float: left;
}

.classCampoPage{
    position: relative;
    width: 30%;
    float: left;
}
/* .classCampoInativos{
   
} */
.classCampoContage{
    position: relative;
    width: 35%;
    float: left;
}
.classTamanhoHeaderPage{
    width: 60px;
}
.classAlinhamento{
    margin-left: calc(50% - 60px);
}
.cabecalho{
    margin-bottom: 20px;
}
.classImputSearch{
    border-color:#21237b;
    border-radius: 10px !important;
    background-color: white;
    font-style: italic;
    color: #21237b;
    font-size: 16px;
    font-weight: 525;
    margin-left: 5px;
    margin-right: 75px;
    height: 30px;
    z-index:2;
}
