
/* Linha Divisora */
.classLinhaDivisora{
    /* Alterações de Corpo */
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Caracteristicas da Linha */
    border-top: 1px solid #21237b;
  }
  
  /* Margem Lateral */
  .classMargemLateral {
    /* Alterações de Corpo */
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
  }
  
  /* Margem Final da Página */
  .classMargimFimPagina{
  margin: 100px;
  }
  