.classBorderInvalid {
    border: 2px solid red !important;
    background-color: rgb(255, 200, 200, 0.2);
    border-radius: 12px;

    
}
.classImputForm {
    border-color:#21237b;
    border-radius: 10px !important;
    background-color: white;
    font-style: italic;
    color: #21237b;
    font-size: 16px;
    font-weight: 525;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
}
.classImputForm:focus {
    background-color: rgba(117, 165, 255, 0.226);
    border: 2px solid #21237b !important;
}
.classImputForm:read-only {
    background-color: whitesmoke;
   
}
.classIconedeInvalido {
    width: 20px;
    padding-top: 4px; 
    align-self: center;
    margin-left: -30px; 
    position: relative;
    border-radius: 10px;

}
.classTextodeErro{
    color: red;
}

.classLabelForm{
    color: #21237b;
    border: none;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;
   

}
.classSelect:focus{
    outline-style:none;
}
.classOption{
    outline-style:none;
    font-style: italic;
    color: #21237b;
    font-size: 16px;
    font-weight: 525;
    background-color: whitesmoke;
}
.selected {
    display: none;
}

.classSelect{
    width: 100%;
    height: 40px !important;
}
.classReadOnly{
    /* Deixar Objeto Não Selecionavel */
    cursor:default !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color:#21237b;
    border-radius: 10px !important;
    background-color: whitesmoke;
}
.classReadOnly:focus{
    /* Deixar Objeto Não Selecionavel */
    cursor:default !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color:#21237b;
    border-radius: 10px !important;
    background-color: whitesmoke;
}