
.classButtonIcon{
    width: 20px;
    height: 20px;
}


.Remover{
    background-color: #C70011;  
    padding-bottom: 7px;
}
.Remover:hover{
    background-color: #4e0107; 
}
.Remover:active{
    background-color: #210003; 
}

.Editar{
    background-color: #21237b; 
}
.Editar:hover{
    background-color: #0f104e; 
}
.Editar:active{
    background-color: #030436; 
}

.Listar{
    background-color: #008000; 
}
.Listar:hover{
    background-color: #006000; 
}
.Listar:active{
    background-color: #004000; 
}
.reactive{
    background-color: #00c3ff; 
}
.reactive:hover{
    background-color: #0080a7; 
}
.reactive:active{
    background-color: #005068; 
}
.classButton{
    margin: 0 auto;
    /* Alterações de Corpo */
    width: 40px; 
    height: 40px; 
    border: none;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    outline: none;
}
/* Removendo quadrado de foco */
.classButton:focus{
    outline-style:none;
    border-color:transparent;
}
/* Evento Click */
.classCardForm{
    /* height: 60px; */
    border-radius: 20px;
    background-color: rgba(143, 176, 197, 0.205);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}


.classLabelFormList{
    color: #21237b;
    border: none;
    margin-top: 10px;
    
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    /* letter-spacing: 0.2em; */
    /* text-shadow: 1px 1px #6b86ff; */
    /* Deixar Objeto Não Selecionavel */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;
   

}
.classZeraMargem{
    margin: 0px !important;
}
