<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral">
  
  <!-- Titulo -->
  <label class="classLabelTitle">Cadastro De Uma Nova Empresa No Ping</label>
  
  <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value, formulario.valid)">
    
    <div class="form-row classLinhaDivisora"></div>

    <!-- Chama Componete referente ao cadastro da empresa -->
    <app-company-form [companyForm]="formulario"></app-company-form>

    <div class="form-row classLinhaDivisora"></div>

    <!-- Chama Componete referente ao cadastro de endereço -->
    <app-address-form [addressForm]="formulario"></app-address-form>
    
    <div class="form-row classLinhaDivisora"></div>

    <!-- Botão submit -->
    <div class="float-right" (mouseenter)="showImage(formulario.valid)" (mouseleave)="hideImage()" >
      <button 
        type="submit" 
        class="btn-primary classSubmitButton"
        [class.classFormInvalido]="formulario.invalid" 
        [class.classFormValido]="formulario.valid"
      >
        Salvar Alterações
      </button>
    </div>
  </form>
  <br />
  <!-- Margem no final da Página -->
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>
  
  
  