<!-- Divisória tamanho das laterais -->
<div class="classMargemLateral animated bounceInUp">
  
  <!-- Titulo -->
  <label class="classLabelTitle">Cadastro De Uma Nova Empresa No Ping</label>
  <label class="classTextTitleError animated shake" [class.d-none]="!ocorreuSubmit">O formulário contém erros, porfavor corrigi-los antes de Salvar.</label>
  
  <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="onSubmit(formulario.value, formulario.valid)">
    
    <!-- <div class="form-row classLinhaDivisora"></div> -->

    <!-- Chama Componete referente ao cadastro da empresa -->
    <div class="card classCardForm">
      <app-company-form [companyForm]="formulario" [ocorreuSubmit]="ocorreuSubmit"></app-company-form>
    </div>
    <!-- <div class="form-row classLinhaDivisora"></div> -->

    <!-- Chama Componete referente ao cadastro de endereço -->
    <div class="card classCardForm">
    <app-address-form [addressForm]="formulario" [ocorreuSubmit]="ocorreuSubmit"></app-address-form>
    </div>

    <!-- <div class="form-row classLinhaDivisora"></div> -->

    <!-- Botão submit -->
    <div class="float-right">
      <button 
        type="submit" 
        class="btn-primary classSubmitButton"
        [class.classFormInvalido]="formulario.invalid" 
        [class.classFormValido]="formulario.valid"
      >
        Salvar Alterações
      </button>
      <!-- Modal -->
      <div class="modal modal-backdrop fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" [class.show]=" showModal " [style.display]=" showModal ? 'block' : 'none'">
          <div class="modal-dialog" role="document">
            <div class="modal-content classModalTamanho ">
              <div class="modal-header">
                <h5 class="modal-title classModalLabalsTitle" id="exampleModalLabel">Parabéns, os dados foram salvos com sucesso!</h5>
                
                  
              </div>
              
                  <label class="classModalLabals"> O que deseja fazer?</label>
              
              <div class="modal-footer">
              
                <button type="button" class="classModalBotao" (click)="ClearForm()">Cadastrar outra empresa</button>
                
                <button type="button" class="classModalBotao" onclick="window.location.href='#/pages/register'">Voltar ao monitoramento</button>
                
                <button type="button" class="classModalBotao" onclick="window.location.href='#/pages/register/newrelogio'">Cadastrar um relógio</button>
              
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
  <br />
  <!-- Margem no final da Página -->
  <div class="classMargemLateral classMargimFimPagina"></div>
</div>
  
  
  